<!DOCTYPE html>
<html>
<head>
<title>Home</title>
</head>
<body>
	<h1>ChessComp!</h1>

	<a href="/getSchedule">Clique aqui para saber programação de jogos!</a>
	<br><br>

	<h3>Procurar jogos planejados por:</h3>

	<h4>Hotel (digite o nome do hotel)</h4>
	<form action="/getGamesByHotel" method="post">
		<input type="text" name="username" /><input type="submit" value="Submit" />
	</form>
	<h4>Jogador (digite o nome do jogador)</h4>
	<form action="/getGamesByPlayer" method="post">
		<input type="text" name="username" /><input type="submit" value="Submit" />
	</form>
	<h4>Árbitro (digite o número associado do árbitro)</h4>
	<form action="/getGamesByReferee" method="post">
		<input type="text" name="username" /><input type="submit" value="Submit" />
	</form>

	<a href="/curva-movimentoXjogo">Ver curva de jogos por número de movimentos</a><br>
	<a href="/jogadores-por-pais">Ver cruva de jogadores por país</a>
</body>
</html>